@model IEnumerable<RDAT.Models.Company>

@{
    ViewData["Title"] = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(HttpContextAccessor, source: this.Model,
         defaultSort: "Name",
         rowsPerPage: 30);
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <h1><i class="nav-icon fas fa-th mr-2"></i>View Companies</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @if (grid.HasSelection)
                {
                    var item = (RDAT.Models.Company)grid.Rows[grid.SelectedIndex].Value;
                <b>Name</b>  @item.Name<br />
                }
                @grid.GetHtml(tableStyle: "table table-bordered", columns: grid.Columns(
grid.Column("",header: " ",
(item) =>
        (bool)item.IsFavorite
            ? Html.Raw("<a asp-action='Favorite' asp-controller='company'><i class='ion-ios-star'></i></a>")
            : Html.Raw("<a asp-action='Favorite' asp-controller='company'><i class='ion-ios-star-outline'></i></a>")
),
grid.Column("id","#"),
grid.Column("Name"),
grid.Column("City"),
grid.Column("State"),
grid.Column("Phone"),
grid.Column("Fax"),
grid.Column("DOT"),
grid.Column("RepresentativeName","Representative Name"),
grid.Column("Email", header: "Email Address"),
grid.Column(
"",
header: "Actions",
format: @<text>@Html.ActionLink("Star", "Favorite", new { id = item.id }, new {@class = "btn btn-success"})@Html.ActionLink("Edit", "Edit", new { id = item.id }, new {@class = "btn btn-info mt-2"})</text>
)
)
)
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            Footer
        </div>
        <!-- /.card-footer-->
</div>
<!-- /.card -->
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
    function GetSelectedRow(this) {
        alert("CLICK");
        return "ONE";
    }

    function  reloadGrid() {
 
     $.ajax(
         { type: "GET" ,
             url: '/Home/ReloadGrid/' ,
             data: "{}" ,
             cache: false ,
             dataType: "html" ,
             success: function  (data)
             { $( ).html(data); } 
         })
 }
</script>
