@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        
        <div class="container-fluid">
            
            <div class="row mb-2">

                <header>
                    <h1 class="text-danger">@ViewData["Title"]</h1>
                    <p class="text-danger">You do not have access to this resource.</p>
                </header>

            </div>

            </div>
        </section>

</div>
