@model IEnumerable<RDAT.Models.TestingLog>

@{
    ViewData["Title"] = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(HttpContextAccessor, source: this.Model,
         defaultSort: "DriverName",
         rowsPerPage: 30);
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                    <h1><i class="nav-icon fas fa-th mr-2"></i>@ViewBag.ListName</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Testing Logs</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                
                @grid.GetHtml(tableStyle: "table table-bordered", columns: grid.Columns(
                
 grid.Column("Id"),
                grid.Column("Batch_Id"),
 grid.Column("Selectiondatedrug", "Selection date drug",
    format: (item) => string.Format("{0:dd-MMM-yyyy}", item.Selectiondatedrug)),
 grid.Column("Selectiondatealcohol"),
 grid.Column("Reported_Results"),
 grid.Column("SSN"),
 grid.Column("Specimen_Id"),
 grid.Column("ClosedDate", "Enrollment",
    format: (item) => string.Format("{0:dd-MMM-yyyy}", item.ClosedDate)),
 grid.Column("Test_Process_Id"),
 grid.Column(
       "",
        header: "Actions",
        format: @<text>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info m-1" })</text>
)
)
)
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
</div>
<!-- /.card -->
    </section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
