@model RDAT.ViewModels.CreateDriverViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Driver</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Blank Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Driver.Id" />
                    <div class="form-group">
                        <label asp-for="Driver.DriverName" class="control-label"></label>
                        <input asp-for="Driver.DriverName" class="form-control" />
                        <span asp-validation-for="Driver.DriverName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.SSN" class="control-label"></label>
                        <input asp-for="Driver.SSN" class="form-control" />
                        <span asp-validation-for="Driver.SSN" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.AddressLine1" class="control-label"></label>
                        <input asp-for="Driver.AddressLine1" class="form-control" />
                        <span asp-validation-for="Driver.AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.AddressLine2" class="control-label"></label>
                        <input asp-for="Driver.AddressLine2" class="form-control" />
                        <span asp-validation-for="Driver.AddressLine2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.City" class="control-label"></label>
                        <input asp-for="Driver.City" class="form-control" />
                        <span asp-validation-for="Driver.City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.State" class="control-label"></label>
                        <select asp-for="Driver.State" asp-items="Model.States" class="custom-select">
                            <option value="">Choose a State</option>

                        </select>
                        <span asp-validation-for="Driver.State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.Zipcode" class="control-label"></label>
                        <input asp-for="Driver.Zipcode" class="form-control" />
                        <span asp-validation-for="Driver.Zipcode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.Location" class="control-label"></label>
                        <input asp-for="Driver.Location" class="form-control" />
                        <span asp-validation-for="Driver.Location" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Driver.Phone" class="control-label"></label>
                        <input asp-for="Driver.Phone" class="form-control" />
                        <span asp-validation-for="Driver.Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.Fax" class="control-label"></label>
                        <input asp-for="Driver.Fax" class="form-control" />
                        <span asp-validation-for="Driver.Fax" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.Cell" class="control-label"></label>
                        <input asp-for="Driver.Cell" class="form-control" />
                        <span asp-validation-for="Driver.Cell" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.Email" class="control-label"></label>
                        <input asp-for="Driver.Email" class="form-control" />
                        <span asp-validation-for="Driver.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.EnrollmentDate" class="control-label"></label>
                        <input asp-for="Driver.EnrollmentDate" class="form-control" />
                        <span asp-validation-for="Driver.EnrollmentDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.TerminationDate" class="control-label"></label>
                        <input asp-for="Driver.TerminationDate" class="form-control" />
                        <span asp-validation-for="Driver.TerminationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Driver.CDL" class="control-label"></label>
                        <input asp-for="Driver.CDL" class="form-control" />
                        <span asp-validation-for="Driver.CDL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>

            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


