@model RDAT.Models.CreateBatch

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CreateBatch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivePool" class="control-label"></label>
                <input asp-for="ActivePool" class="form-control" />
                <span asp-validation-for="ActivePool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugPercentage" class="control-label"></label>
                <input asp-for="DrugPercentage" class="form-control" />
                <span asp-validation-for="DrugPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DrugTestDate" class="control-label"></label>
                <input asp-for="DrugTestDate" class="form-control" />
                <span asp-validation-for="DrugTestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholPercentage" class="control-label"></label>
                <input asp-for="AlcoholPercentage" class="form-control" />
                <span asp-validation-for="AlcoholPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholTestDate" class="control-label"></label>
                <input asp-for="AlcoholTestDate" class="form-control" />
                <span asp-validation-for="AlcoholTestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

